<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ops! Ocorreu um erro</title>
</head>
<body>
    <h1 style="color: darkred;">Erro no Sistema</h1>
    <p><%= mensagem %></p>
    <a href="/tarefas">Tentar voltar para a página inicial</a>
</body>
</html>